<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <br /><br /><br />
  <!-- adresse -->
  <div class="adresse">
    <div>
      <p>
        <li><span id="titre">Email: </span> glennwouagam@gmail.com</li>
      </p>
    </div>

    <div>
      <p>
        <li><span id="titre">Adresse: </span> Akwa-Douala-Cameroun</li>
      </p>
    </div>
    <div>
      <li><span id="titre">Téléphone: </span> (+ 237) 6 95 46 56 13</li>
    </div>
  </div>

  <!-- Grid container -->
  <br />
  <div class="container p-4">
    <br />
    <section class="mb-4">
      <p id="suivezmoi">SUIVEZ MOI SUR MES DIFFERENTES PAGES</p>

      <div class="images">
        <a
          href="https://whatsapp.com/dl/
            "
        >
          <img
            id="idimage"
            src="http://store-images.s-microsoft.com/image/apps.8985.13655054093851568.1c669dab-3716-40f6-9b59-de7483397c3a.8b1af40f-2a98-4a00-98cd-94e485a04427"
            height="20px"
            width="20px"
            alt=""
          /> </a
        >&nbsp;&nbsp;&nbsp;
        <a href="https://instagram.com/glenneruin?igshid=YmMyMTA2M2Y=">
          <img
            id="idimage"
            src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg"
            height="20px"
            width="20px"
            alt=""
          /> </a
        >&nbsp;&nbsp;&nbsp;

        <a
          href="https://facebook.com/glenneruin.tchamagam
              "
        >
          <img
            id="idimage"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPl0s8UHFa04top5NJz7lFeghEZ-qrlcBDeJ1q9M-5-RnJt3rcqWE49lEaUcbkwQmE5F8&usqp=CAU"
            height="20px"
            width="20px"
            alt=""
          /> </a
        >&nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/glenn-tchamagam-2a611225a/">
          <img
            id="idimage"
            src="https://img.freepik.com/vecteurs-premium/linkedin-logo_578229-227.jpg"
            height="20px"
            width="20px"
            alt=""
          />
        </a>
      </div>
    </section>
    <!-- Section: Text -->
  </div>

  <!-- Grid container -->

  <div id="positionupward">
    <a href="#hello">
      <div class="btn btn-primary mb-2 rounded-circle shadow-4-strong">
        <img
          src="/assets/images/2b06.png"
          height="20PX
        "
          class="icone"
          alt=""
        />
      </div>
    </a>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-primary" href="https://portfolioglenn.vercel.app"
      >portfolioglenn.vercel.app</a
    >
  </div>

  <!-- Copyright -->
</footer>
<!-- Footer -->
