<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="/assets/images/Capture d’écran 2023-02-18 070921.png"
      width="50"
      height="50"
      class="rounded-circle shadow-4-strong"
      alt="avatar2"
    />
    Portfolio GLENN
  </a>

  <ul class="navbar-nav mr-auto">
    <div id="flexmenu">
      <div>
        <li class="nav-item active">
          <a class="nav-link" href="#service">Services </a>
        </li>
      </div>
      &nbsp;&nbsp;&nbsp;
      <div>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </div>
    </div>
  </ul>
</nav>

<br /><br /><br />

<div class="premier">
  <div id="hello">Hello!, Bienvenue</div>
  <br />
  <div id="presentation">
    Moi c'est Tchamagam Glenn, étudiant en 3ème année à l'Ecole Nationale
    Supérieur Polytechnique de Douala; Je vous propose mes services dans
    plusieurs domaines informatiques.
  </div>
</div>
<br /><br />

<div id="deuxieme">
  <div id="service" class="text-primary">SERVICES</div>

  <br /><br />
  <div id="flexcard">
    <!-- card1 -->
    <div class="card" id="card1">
      <div class="card-body">
        <br /><br />
        <div id="imagecard">
          <img src="/assets/images/Capture d’écran 2023-02-21 232142.png" />
        </div>
        <br />
        <h5 class="card-title">Developpement Web</h5>

        <p class="card-text">
          Création des sites web professionnels et personnalisés consultable sur
          smartphones et tablette.
        </p>
      </div>
    </div>
    <!-- card2 -->&nbsp;&nbsp;&nbsp;
    <div class="card" id="card1">
      <div class="card-body">
        <br /><br />
        <div id="imagecard">
          <img src="/assets/images/design.png" />
        </div>
        <br />
        <h5 class="card-title">Designer</h5>
        <p class="card-text">
          Imagination, mise en forme, création de logo et flyers, permettant de
          mettre en avant divers services ou produits.
          <a [routerLink]="['/galeriedesign']" class="btn btn-primary"
            >Visiter mes design</a
          >
        </p>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <!-- card3 -->
    <div class="card" id="card1">
      <div class="card-body">
        <br /><br />
        <div id="imagecard">
          <img src="/assets/images/CM.png" />
        </div>
        <br />
        <h5 class="card-title">Community Manager</h5>
        <p class="card-text">
          Création et animation des communautés dans le but de développer les
          relations avec le public via les réseaux sociaux
        </p>
      </div>
    </div>
  </div>
</div>
<br /><br />

<br /><br />
<div id="contact">CONTACT</div>
<br /><br />
