/* NAVBAR CSS */
img:hover {
  width: 90px;
  height: 90px;
}
#flexmenu {
  display: flex;
  margin-right: 2rem;
}
li:hover {
  font-size: 20px;
  font-weight: bolder;
}
/* SERVICES CSS */
#hello {
  margin: auto;
  width: 24rem;
  font-size: 45px;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#presentation {
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#service {
  margin: auto;
  width: 10rem;
  font-size: 30px;
  font-weight: bolder;
}
#card1 {
  width: 20rem;
  height: 20rem;
}
#card1:hover {
  box-shadow: 4px 4px 4px #0275d8;
  border-color: #0275d8;
  width: 21rem;
  height: 21rem;
}
#flexcard {
  display: flex;
  margin-left: 8.5rem;
}
h5 {
  text-align: center;
}
.card-text {
  text-align: center;
}
#imagecard {
  text-align: center;
}
#deuxieme {
  margin: auto;
}
#contact {
  margin: auto;
  width: 10rem;
  font-size: 30px;
  font-weight: bolder;
  color: #0275d8;
}

/* responsive */
@media screen and (max-width: 450px) {
  #hello {
    font-size: 20px;
    margin: auto;
    width: 11rem;

    font-weight: bolder;
  }
  #presentation {
    margin-left: auto;
    margin-right: auto;
    width: 22rem;
  }
  #flexcard {
    display: initial;
  }
  #card1 {
    margin-left: 3rem;
  }
}
