<!-- <nav class="navbar fixed-top navbar-dark bg-primary" id="navbar">
  <a class="navbar-brand" href="#">
    <img
      src="/assets/images/Glenn-designstyle-colors-m.png"
      width="180"
      height="50"
      id="glenn"
    />
  </a>

  <ul class="mr-auto">
    <div id="flexmenu">
      <div>
        <li class="nav-item active">
          <a class="nav-link" href="#service">Services </a>
        </li>
      </div>
      &nbsp;&nbsp;&nbsp;
      <div>
        <li class="nav-item active">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </div>
    </div>
  </ul>
</nav> -->

<br /><br /><br />

<div class="premier">
  <div class="container">
    <div id="hello">Hello!, Bienvenue</div>
  </div>
  <br />
  <div id="blocphotoettexte">
    <div>
      <img src="/assets/images/glenn.jpg" id="maphoto" />
    </div>
    <div id="presentation">
      <br />
      Moi c'est TCHAMAGAM GLENN, étudiant en 3ème année à l'Ecole Nationale
      Supérieur Polytechnique de Douala (ENSPD) en Génie Informatique (Génie
      Logiciel) au Cameroun; Je vous propose mes services dans plusieurs
      domaines informatiques.
    </div>
  </div>
</div>
<br /><br />

<div id="deuxieme">
  <div id="service" class="text-primary">SERVICES</div>

  <br />
  <div id="flexcard">
    <!-- card1 -->
    <div class="card" id="card1">
      <div class="card-body">
        <br /><br />
        <div id="imagecard">
          <img src="/assets/images/Capture d’écran 2023-02-21 232142.png" />
        </div>
        <br />
        <h5 class="card-title">Developpement Web</h5>

        <p class="card-text">
          Création des sites web professionnels et personnalisés consultable sur
          smartphones et tablette.
        </p>
      </div>
    </div>
    <!-- card2 -->&nbsp;&nbsp;&nbsp;
    <div class="card" id="card1">
      <div class="card-body">
        <br /><br />
        <div id="imagecard">
          <img src="/assets/images/design.png" />
        </div>
        <br />
        <h5 class="card-title">Designer Graphique</h5>
        <p class="card-text">
          Imagination, mise en forme, création de logo et flyers, permettant de
          mettre en avant divers services ou produits.
          <a href="flyers.html" class="btn btn-outline-primary mb-2"
            >Visiter mes design</a
          >
        </p>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <!-- card3 -->
    <div class="card" id="card1">
      <div class="card-body">
        <br /><br />
        <div id="imagecard">
          <img src="/assets/images/CM.png" />
        </div>
        <br />
        <h5 class="card-title">Community Manager</h5>
        <p class="card-text">
          Création et animation des communautés dans le but de développer les
          relations avec le public via les réseaux sociaux
        </p>
      </div>
    </div>
  </div>
</div>
<br />

<br />
<!-- DEBUTEXPLICATION -->
<div id="developpementweb" class="text-primary">Developpement Web</div>
<div id="contenu">
  Le développement Web désigne de manière générale les tâches associées au
  développement de sites Web destinés à être hébergés via un intranet ou
  Internet. Les language FROND-END que j'utilise sont les suivant:
  <br /><br />
</div>
<div id="toutescartes">
  <div class="container" id="devwebcarte1">
    <div class="card" id="carte1">
      <div class="card-body">HTML</div>
    </div>
  </div>
  <br />

  <div class="container" id="devwebcarte2">
    <div class="card" id="carte2">
      <div class="card-body">CSS|Boostrap|Matérialize|</div>
    </div>
  </div>

  <br />

  <div class="container" id="devwebcarte3">
    <div class="card" id="carte3">
      <div class="card-body">JAVASCRIPT|Angular|</div>
    </div>
  </div>
  <br />

  <div class="container" id="devwebcarte4">
    <div class="card" id="carte4">
      <div class="card-body">OUTIL |Visual Studio Code|</div>
    </div>
  </div>
</div>
<br /><br />

<div id="developpementweb" class="text-primary">Designer Graphique</div>
<div id="contenu">
  Le designer graphique que je suis commence par analyser la demande du client.
  Une fois l’idée dégagée, je dois l’exprimer par une image. Au-delà de l’aspect
  esthétique, celle-ci doit transmettre efficacement le message formulé par le
  client. Elle peut ensuite se décliner sur des supports multiples : affiches,
  couvertures de livres, dépliants publicitaires…
</div>
<br />
<div id="toutescartes">
  <div class="container" id="devwebcarte1">
    <div class="card" id="carte1">
      <div class="card-body">AFFICHE |flyers|</div>
    </div>
  </div>
  <br />

  <div class="container" id="devwebcarte2">
    <div class="card" id="carte2">
      <div class="card-body">LOGOS</div>
    </div>
  </div>

  <br />

  <div class="container" id="devwebcarte3">
    <div class="card" id="carte3">
      <div class="card-body">PUBLICITE</div>
    </div>
  </div>

  <br />

  <div class="container" id="devwebcarte4">
    <div class="card" id="carte4">
      <div class="card-body">OUTIL |Canvas|</div>
    </div>
  </div>
</div>
<br /><br />

<div id="developpementweb" class="text-primary">Community Manager</div>
<div id="contenu">
  Expert des communautés web, le Community Manager que je suis travaille en
  agence de communication, une agence digitale, mais aussi pour un annonceur ou
  une entreprise. Pour le compte d'une marque ou d'une entreprise (parfois d'une
  célébrité) c'est moi qui fédère et anime les échanges entre internautes. Pour
  cela, j'utilise principalement les résaux sociaux (Facebook, Instagram,
  TikTok...) et professionnels (LinkedIn, Xing, Quora...).
</div>
<br /><br />
<div id="toutescartes">
  <div class="container" id="devwebcarte1">
    <div class="card" id="carte1">
      <div class="card-body">AUGMENTATION D'ABONNES</div>
    </div>
  </div>
  <br />

  <div class="container" id="devwebcarte2">
    <div class="card" id="carte2">
      <div class="card-body">BOOST PUBLICATION</div>
    </div>
  </div>

  <br />

  <div class="container" id="devwebcarte3">
    <div class="card" id="carte3">
      <div class="card-body">JEU EN LIGNE</div>
    </div>
  </div>

  <br />

  <div class="container" id="devwebcarte4">
    <div class="card" id="carte4">
      <div class="card-body">OUTIL |Facebook|Instagram|...</div>
    </div>
  </div>
</div>

<br /><br />
<div id="contact">CONTACT</div>
<br /><br />

<!-- <div class="container">
  <div class="ecrireautomatique">glenn deviendra tres</div>
</div> -->
