<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="/assets/images/Capture d’écran 2023-02-18 070921.png"
      width="30"
      height="30"
      class="rounded-circle shadow-4-strong"
      alt="avatar2"
    />
    Portfolio GLENN
  </a>

  <ul class="navbar-nav mr-auto">
    <div id="flexmenu">
      <div>
        <li class="nav-item active">
          <a class="nav-link" href="#">Services </a>
        </li>
      </div>
      &nbsp;&nbsp;&nbsp;
      <div>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </div>
    </div>
  </ul>
</nav>

<br /><br />
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img
    src="/assets/images/Capture d’écran 2023-02-18 070921.png"
    width="30"
    height="30"
    class="rounded-circle shadow-4-strong"
    alt="avatar2"
  />
  <a class="navbar-brand" href="#">Portfolio GLENN</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Services </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav> -->

<!-- <ul
  class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm"
  id="pillNav2"
  role="tablist"
  style="
    --bs-nav-link-color: var(--bs-white);
    --bs-nav-pills-link-active-color: var(--bs-primary);
    --bs-nav-pills-link-active-bg: var(--bs-white);
  "
>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active rounded-5"
      id="home-tab2"
      data-bs-toggle="tab"
      type="button"
      role="tab"
      aria-selected="true"
    >
      Home
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link rounded-5"
      id="profile-tab2"
      data-bs-toggle="tab"
      type="button"
      role="tab"
      aria-selected="false"
    >
      Profile
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link rounded-5"
      id="contact-tab2"
      data-bs-toggle="tab"
      type="button"
      role="tab"
      aria-selected="false"
    >
      Contact
    </button>
  </li>
</ul> -->
