/* NAVBAR CSS */

#flexmenu {
  display: flex;
  margin-right: 2rem;
}
li:hover {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}
ul {
  list-style-type: none;
  color: white;
}

/* SERVICES CSS */
.container {
  display: grid;
  margin: auto;
}
#hello {
  width: 16ch;
  margin: auto;
  animation: tuto 3s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 45px;
  font-family: "roboto", "sans-serif";
}
@keyframes tuto {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* #hello {
  margin: auto;
  width: 24rem;
  font-size: 45px;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#presentation {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;

  width: 40rem;
  animation: fadeInAnimation ease 20s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#blocphotoettexte {
  display: flex;
}
#blocphotoettexte img {
  height: 50rem;
}
#service {
  margin: auto;
  width: 8rem;
  font-size: 30px;
  font-weight: bolder;
}
#card1 {
  width: 20rem;
  height: 20rem;
}
#card1:hover {
  box-shadow: 4px 4px 4px #0275d8;
  border-color: #0275d8;
  width: 21rem;
  height: 21rem;
}
#flexcard {
  display: flex;
  margin-left: 8.5rem;
}
h5 {
  text-align: center;
}
.card-text {
  text-align: center;
}
#imagecard {
  text-align: center;
}
#deuxieme {
  margin: auto;
}
#contact {
  margin: auto;
  width: 10rem;
  font-size: 30px;
  font-weight: bolder;
  color: #0275d8;
}
.developpementweb {
  margin: auto;
  width: 19rem;
  font-size: 30px;
  font-weight: bolder;
  color: #0275d8;
}
#contenu {
  margin: auto;
  width: 70%;
}
#devwebcarte1 {
  border-left: 2px solid #0275d8;
  margin-left: 18rem;
  width: 30rem;
}
.card-body {
  margin-top: 0.25rem;
}
#carte1 {
  height: 4rem;
  transition: all ease-in-out 2s;
}
.card-body:hover {
  margin-top: 0.5rem;
}
#carte1:hover {
  background-color: #0275d8;
  color: white;
  height: 4.5rem;
}
#devwebcarte2 {
  border-left: 2px solid #0275d8;
  margin-left: 23rem;
  width: 30rem;
}
#carte2 {
  height: 4rem;

  transition: all ease-in-out 2s;
}
#carte2:hover {
  background-color: #0275d8;
  color: white;
  height: 4.5rem;
}
#devwebcarte3 {
  border-left: 2px solid #0275d8;
  margin-left: 28rem;
  width: 30rem;
}
#carte3 {
  height: 4rem;
  transition: all ease-in-out 2s;
}
#carte3:hover {
  background-color: #0275d8;
  color: white;
  height: 4.5rem;
}
#devwebcarte4 {
  border-left: 2px solid #0275d8;
  margin-left: 33rem;
  width: 30rem;
}
#carte4 {
  height: 4rem;
  transition: all ease-in-out 2s;
}
#carte4:hover {
  background-color: #0275d8;
  color: white;
  height: 4.5rem;
}

/* responsive */
@media screen and (max-width: 450px) {
  #glenn {
    margin-top: -0.3rem;
  }
  #hello {
    font-size: 30px;
    margin: auto;
    width: 16ch;

    font-weight: bolder;
  }
  #presentation {
    margin-left: auto;
    margin-right: auto;
    width: 22rem;
    margin-top: 0rem;
  }
  #blocphotoettexte {
    display: initial;
  }
  #blocphotoettexte img {
    height: 42.5rem;
  }
  #flexcard {
    display: initial;
  }
  #card1 {
    margin-left: 3rem;
  }
  #devwebcarte1 {
    border-left: 2px solid #0275d8;
    margin: auto;
    width: 18rem;
  }

  #devwebcarte2 {
    border-left: 2px solid #0275d8;
    margin: auto;
    width: 18rem;
  }

  #devwebcarte3 {
    border-left: 2px solid #0275d8;
    margin: auto;
    width: 18rem;
  }

  #devwebcarte4 {
    border-left: 2px solid #0275d8;
    margin: auto;
    width: 18rem;
  }
}
