/* NAVBAR CSS */
#flexmenu {
  display: flex;
  margin-right: 2rem;
}
li:hover {
  font-size: 20px;
  font-weight: bolder;
}
/* SERVICES CSS */
#hello {
  margin: auto;
  width: 10rem;
  font-size: 50px;
}
#presentation {
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}
#service {
  margin: auto;
  width: 10rem;
  font-size: 30px;
  font-weight: bolder;
}
#card1 {
  width: 20rem;
  height: 20rem;
}
#card1:hover {
  box-shadow: 4px 4px 4px #0275d8;
  border-color: #0275d8;
  width: 21rem;
  height: 21rem;
}
#flexcard {
  display: flex;
  margin-left: 14rem;
}
h5 {
  text-align: center;
}
.card-text {
  text-align: center;
}
#imagecard {
  text-align: center;
}
#deuxieme {
  margin: auto;
}
#contact {
  margin: auto;
  width: 10rem;
  font-size: 30px;
  font-weight: bolder;
  color: #0275d8;
}

/* footer */
#id4 {
  margin-left: 15rem;
}
.div1 {
  font-size: 18px;
  margin-left: 13.3rem;
  width: 25rem;
}
.class1 {
  font-weight: bolder;
}

#espace {
  display: flex;
}
#masquer1 {
  display: none;
}
#id1faux {
  color: rgba(150, 150, 150, 0.7);
  display: none;
}
.bg2droitefaux {
  margin-left: 10rem;
  display: none;
}

.bg2droite {
  margin-left: 30rem;
}

#id1 {
  color: rgba(150, 150, 150, 0.7);
}
#id2 {
  margin-left: 14rem;
  color: rgba(150, 150, 150, 0.7);
}
.images {
  margin-left: 20rem;
}
#idimage:hover {
  height: 30px;
  width: 30px;
}

.nhesitezpas {
  margin-left: 20px;
}
#centrerupward {
  display: block;
  margin: auto;
  background-color: #ffd700;
}

/** DEBUT RESPONSIVE**/

@media screen and (max-width: 896px) {
  /** #espace {
    width: 288px;
  }**/

  #id4 {
    margin-left: 2.5rem;
    height: 40px;
    width: 180px;
  }
  .div1 {
    font-size: 13px;
    margin-left: 1rem;
  }
  #id2 {
    margin-left: 1rem;
    color: rgba(150, 150, 150, 0.7);
    font-size: 16px;
  }
  .images {
    margin-left: 5rem;
  }
  #idimage {
    height: 14px;
    width: 14px;
  }
  #idimage:hover {
    height: 20px;
    width: 20px;
  }

  #id1faux {
    color: rgba(150, 150, 150, 0.7);
    display: initial;
  }
  .bg2droitefaux {
    margin-left: 10rem;
    display: initial;
  }
  #masquer1 {
    display: initial;
  }
  #id1 {
    color: rgba(150, 150, 150, 0.7);
    display: none;
  }
  .bg2droite {
    margin-left: 1rem;
    display: none;
    width: 420rem;
  }
  #id1faux {
    color: rgba(150, 150, 150, 0.7);
    display: initial;
    font-size: 16px;
    margin-left: 1rem;
  }
  .bg2droite1faux {
    font-size: 13px;
    margin-left: 1rem;
    display: initial;
  }
}

/* responsive */
@media screen and (max-width: 450px) {
  #presentation {
    margin-left: auto;
    margin-right: auto;
    width: 22rem;
  }
  #flexcard {
    display: initial;
  }
  #card1 {
    margin-left: 3rem;
  }
}
