#mesdesign {
  font-weight: bolder;
  font-size: 30px;
  color: #0275d8;
  margin: auto;
  width: 15rem;
}

img {
  height: 350px;
}

#emojis {
  height: 40px;
  margin-top: -0.5rem;
}
h5 {
  font-weight: bolder;
  text-align: center;
  margin-top: 0.5rem;
}

@media screen and (max-width: 820px) {
  #notregalerie {
    margin-left: 22rem;
  }
  img {
    height: 500px;
  }
}

@media screen and (max-width: 450px) {
  #notregalerie {
    margin-left: 7rem;
  }
  img {
    height: 350px;
  }
}
