#mesdesign {
  font-weight: bolder;
  font-size: 30px;
  color: #0275d8;
  margin: auto;
  width: 15rem;
}

img {
  height: 400px;
}

@media screen and (max-width: 820px) {
  #mesdesign {
    margin-left: 22rem;
  }
  img {
    height: 500px;
  }
}

@media screen and (max-width: 450px) {
  #mesdesign {
    margin-left: 8rem;
    width: 16ch;
  }
  img {
    height: 400px;
  }
}
